<a href="https://colab.research.google.com/github/NisrineTiouti/unit-1/blob/main/for_loops_and_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1) Multiplication table

In [ ]:
#Program to show multiplication table
number = int(input("Enter number (integer):"))
print("\n")
msg = f"Multiplication table for number {number}"
print(msg)
len_msg = len(msg)
print("-"*len_msg) #multiplying a string with number repeats the string

for i in range (11):
  print(f"{number} x {i} = {number * i} ")

Enter number (integer):12


Multiplication table for number 12
----------------------------------
12 x 0 = 0
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

2) Text Banner

In [ ]:
#Program to create a banner
name = input("please enter your name:")
name = name.upper()
#option 1:for loop
#for i in range(50):
  #print("*", end="")

#option2: using strings
top_bottom = "*" * 50

#option 1: using concentation
middle = "*" + " "*48 + "*"

number_letters_name = len(name)
spaces = int(48 - number_letters_name)
if number_letters_name % 2 == 0:
  #even number
  name_line = f"*{' '*(spaces//2)}{name}{' '*(spaces//2)}*"
else:
  name_line =f"*{' '*(spaces//2)}{name}{' '*((spaces//2)+1)}*"

#print the banner
print(top_bottom)
print(middle)
print(name_line)
print(middle)
print(top_bottom)
# using list you can write this more effectively

please enter your name:nisrine
**************************************************
*                                                *
*                    NISRINE                     *
*                                                *
**************************************************

3) Compound interest

In [3]:
P = int(input("Enter intial amount: "))
r = float(input("Enter the internet rate (Ex. 2%): "))
n = int(input("Enter the number of periods in a year (Ex. mostly = 12): "))
t = int(input("Enter period (years): "))

for year in range(t):
  A = P * ( 1 + (r/100)/n) ** (n*year)
  print(f"year {year} amount {A:.2f} US ") #formating the number Q, with only 2
                                          # decimal numbers after the dot 50.23

Enter intial amount: 50
Enter the internet rate (Ex. 2%): 2
Enter the number of periods in a year (Ex. mostly = 12): 12
Enter period (years): 15
year 0 amount 50.00 US
year 1 amount 51.01 US
year 2 amount 52.04 US
year 3 amount 53.09 US
year 4 amount 54.16 US
year 5 amount 55.25 US
year 6 amount 56.37 US
year 7 amount 57.51 US
year 8 amount 58.67 US
year 9 amount 59.85 US
year 10 amount 61.06 US
year 11 amount 62.29 US
year 12 amount 63.55 US
year 13 amount 64.83 US
year 14 amount 66.14 US